<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i2f.biz.passwordBook.mapper.BizPasswordBookMapper">
    <!--
    * @author Ice2Faith
    * @date 2023-07-07 13:55:59
    * @desc biz_password_book 密码本
    -->

    <resultMap id="mapDoResultMap" type="com.i2f.biz.passwordBook.data.dom.BizPasswordBookDo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="platform" column="platform"/>
        <result property="url" column="url"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="mapVoResultMap" type="com.i2f.biz.passwordBook.data.vo.BizPasswordBookVo"
               extends="mapDoResultMap">
    </resultMap>

    <sql id="columnsAsCamel">
          a.id
         ,a.user_id as userId
         ,a.name
         ,a.platform
         ,a.url
         ,a.account
         ,a.password
         ,a.salt
         ,a.remark
         ,a.create_time as createTime
         ,a.update_time as updateTime
    </sql>

    <sql id="columnDescAsCamel">
    </sql>

    <sql id="baseQueryBody">
        select
               a.id
              ,a.user_id
              ,a.name
              ,a.platform
              ,a.url
              ,a.account
              ,a.password
              ,a.salt
              ,a.remark
              ,a.create_time
              ,a.update_time
        from biz_password_book a
    </sql>

    <sql id="baseQuery">
        <include refid="baseQueryBody"></include>
        <where>
            <if test="post.id!=null">
                and a.id = #{post.id}
            </if>
            <if test="post.userId!=null">
                and a.user_id = #{post.userId}
            </if>
            <if test="post.name!=null and post.name!=''">
                and instr(a.name,#{post.name}) &gt; 0
            </if>
            <if test="post.platform!=null and post.platform!=''">
                and instr(a.platform,#{post.platform}) &gt; 0
            </if>
            <if test="post.url!=null and post.url!=''">
                and instr(a.url,#{post.url}) &gt; 0
            </if>
            <if test="post.account!=null and post.account!=''">
                and instr(a.account,#{post.account}) &gt; 0
            </if>
            <if test="post.password!=null and post.password!=''">
                and instr(a.password,#{post.password}) &gt; 0
            </if>
            <if test="post.salt!=null and post.salt!=''">
                and instr(a.salt,#{post.salt}) &gt; 0
            </if>
            <if test="post.remark!=null and post.remark!=''">
                and instr(a.remark,#{post.remark}) &gt; 0
            </if>
            <if test="post.createTime!=null">
                and a.create_time = #{post.createTime}
            </if>
            <if test="post.updateTime!=null">
                and a.update_time = #{post.updateTime}
            </if>
        </where>
    </sql>

    <select id="page" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="list" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="findByPk" resultMap="mapVoResultMap">
        <include refid="baseQueryBody"></include>
        where a.id = #{id}
    </select>

    <insert id="insertSelective">
        insert into biz_password_book
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                id,
            </if>
            <if test="post.userId!=null">
                user_id,
            </if>
            <if test="post.name!=null and post.name!=''">
                name,
            </if>
            <if test="post.platform!=null and post.platform!=''">
                platform,
            </if>
            <if test="post.url!=null and post.url!=''">
                url,
            </if>
            <if test="post.account!=null and post.account!=''">
                account,
            </if>
            <if test="post.password!=null and post.password!=''">
                password,
            </if>
            <if test="post.salt!=null and post.salt!=''">
                salt,
            </if>
            <if test="post.remark!=null and post.remark!=''">
                remark,
            </if>
            <if test="post.createTime!=null">
                create_time,
            </if>
            <if test="post.updateTime!=null">
                update_time,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                #{post.id},
            </if>
            <if test="post.userId!=null">
                #{post.userId},
            </if>
            <if test="post.name!=null and post.name!=''">
                #{post.name},
            </if>
            <if test="post.platform!=null and post.platform!=''">
                #{post.platform},
            </if>
            <if test="post.url!=null and post.url!=''">
                #{post.url},
            </if>
            <if test="post.account!=null and post.account!=''">
                #{post.account},
            </if>
            <if test="post.password!=null and post.password!=''">
                #{post.password},
            </if>
            <if test="post.salt!=null and post.salt!=''">
                #{post.salt},
            </if>
            <if test="post.remark!=null and post.remark!=''">
                #{post.remark},
            </if>
            <if test="post.createTime!=null">
                #{post.createTime},
            </if>
            <if test="post.updateTime!=null">
                #{post.updateTime},
            </if>
        </trim>
        )
    </insert>

    <update id="updateSelectiveByPk">
        update biz_password_book
        <set>
            <if test="post.id!=null">
                id = #{post.id},
            </if>
            <if test="post.userId!=null">
                user_id = #{post.userId},
            </if>
            <if test="post.name!=null and post.name!=''">
                name = #{post.name},
            </if>
            <if test="post.platform!=null and post.platform!=''">
                platform = #{post.platform},
            </if>
            <if test="post.url!=null and post.url!=''">
                url = #{post.url},
            </if>
            <if test="post.account!=null and post.account!=''">
                account = #{post.account},
            </if>
            <if test="post.password!=null and post.password!=''">
                password = #{post.password},
            </if>
            <if test="post.salt!=null and post.salt!=''">
                salt = #{post.salt},
            </if>
            <if test="post.remark!=null and post.remark!=''">
                remark = #{post.remark},
            </if>
            <if test="post.createTime!=null">
                create_time = #{post.createTime},
            </if>
            <if test="post.updateTime!=null">
                update_time = #{post.updateTime},
            </if>
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteByPk">
        delete from biz_password_book
        where id = #{id}
    </delete>

    <insert id="insert">
        insert into biz_password_book
        (
                    id
             ,user_id
             ,name
             ,platform
             ,url
             ,account
             ,password
             ,salt
             ,remark
             ,create_time
             ,update_time
                            )
        values
        (
                    #{post.id}
             ,#{post.userId}
             ,#{post.name}
             ,#{post.platform}
             ,#{post.url}
             ,#{post.account}
             ,#{post.password}
             ,#{post.salt}
             ,#{post.remark}
             ,#{post.createTime}
             ,#{post.updateTime}
                            )
    </insert>

    <update id="updateByPk">
        update biz_password_book
        <set>
            id = #{post.id},
            user_id = #{post.userId},
            name = #{post.name},
            platform = #{post.platform},
            url = #{post.url},
            account = #{post.account},
            password = #{post.password},
            salt = #{post.salt},
            remark = #{post.remark},
            create_time = #{post.createTime},
            update_time = #{post.updateTime},
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteSelective">
        delete from biz_password_book
        where
        <trim suffixOverrides="and|or" prefixOverrides="and|or">
            <if test="post.id!=null">
                and id = #{post.id}
            </if>
            <if test="post.userId!=null">
                and user_id = #{post.userId}
            </if>
            <if test="post.name!=null and post.name!=''">
                and instr(name,#{post.name}) &gt; 0
            </if>
            <if test="post.platform!=null and post.platform!=''">
                and instr(platform,#{post.platform}) &gt; 0
            </if>
            <if test="post.url!=null and post.url!=''">
                and instr(url,#{post.url}) &gt; 0
            </if>
            <if test="post.account!=null and post.account!=''">
                and instr(account,#{post.account}) &gt; 0
            </if>
            <if test="post.password!=null and post.password!=''">
                and instr(password,#{post.password}) &gt; 0
            </if>
            <if test="post.salt!=null and post.salt!=''">
                and instr(salt,#{post.salt}) &gt; 0
            </if>
            <if test="post.remark!=null and post.remark!=''">
                and instr(remark,#{post.remark}) &gt; 0
            </if>
            <if test="post.createTime!=null">
                and create_time = #{post.createTime}
            </if>
            <if test="post.updateTime!=null">
                and update_time = #{post.updateTime}
            </if>
        </trim>
    </delete>

    <insert id="insertBatch">
        insert into biz_password_book
        (
        id
        ,user_id
        ,name
        ,platform
        ,url
        ,account
        ,password
        ,salt
        ,remark
        ,create_time
        ,update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}
            ,#{item.userId}
            ,#{item.name}
            ,#{item.platform}
            ,#{item.url}
            ,#{item.account}
            ,#{item.password}
            ,#{item.salt}
            ,#{item.remark}
            ,#{item.createTime}
            ,#{item.updateTime}
            )
        </foreach>

    </insert>
</mapper>