<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i2f.sys.mapper.SysConfigMapper">
    <!--
    * @author Ice2Faith
    * @date 2023-07-06 16:46:18
    * @desc sys_config 
    -->

    <resultMap id="mapDoResultMap" type="com.i2f.sys.data.dom.SysConfigDo">
        <id property="id" column="id"/>
        <result property="configKey" column="config_key"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="modFlag" column="mod_flag"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sysFlag" column="sys_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUser" column="update_user"/>
    </resultMap>

    <resultMap id="mapVoResultMap" type="com.i2f.sys.data.vo.SysConfigVo"
               extends="mapDoResultMap">
        <result property="modFlagDesc" column="mod_flag_desc"/>
        <result property="delFlagDesc" column="del_flag_desc"/>
        <result property="sysFlagDesc" column="sys_flag_desc"/>
    </resultMap>

    <sql id="columnsAsCamel">
          a.id
         ,a.config_key as configKey
         ,a.name
         ,a.remark
         ,a.mod_flag as modFlag
         ,a.del_flag as delFlag
         ,a.sys_flag as sysFlag
         ,a.create_time as createTime
          ,a.create_user as createUser
          ,a.update_time as updateTime
          ,a.update_user as updateUser
    </sql>

    <sql id="columnDescAsCamel">
          a.mod_flag_desc as modFlagDesc
         ,a.del_flag_desc as delFlagDesc
         ,a.sys_flag_desc as sysFlagDesc
    </sql>

    <sql id="baseQueryBody">
        select
               a.id
              ,a.config_key
              ,a.name
              ,a.remark
              ,a.mod_flag
              ,case
              when a.mod_flag=0 then '否'
              when a.mod_flag=1 then '是'
              else ''
              end mod_flag_desc
              ,a.del_flag
              ,case
              when a.del_flag=0 then '否'
              when a.del_flag=1 then '是'
              else ''
              end del_flag_desc
              ,a.sys_flag
              ,case
              when a.sys_flag=0 then '否'
              when a.sys_flag=1 then '是'
              else ''
              end sys_flag_desc
              ,a.create_time
              ,a.create_user
              ,a.update_time
              ,a.update_user
        from sys_config a
    </sql>

    <sql id="baseQuery">
        <include refid="baseQueryBody"></include>
        <where>
            <if test="post.id!=null">
                and a.id = #{post.id}
            </if>
            <if test="post.configKey!=null and post.configKey!=''">
                and instr(a.config_key,#{post.configKey}) &gt; 0
            </if>
            <if test="post.name!=null and post.name!=''">
                and instr(a.name,#{post.name}) &gt; 0
            </if>
            <if test="post.remark!=null and post.remark!=''">
                and instr(a.remark,#{post.remark}) &gt; 0
            </if>
            <if test="post.modFlag!=null">
                and a.mod_flag = #{post.modFlag}
            </if>
            <if test="post.delFlag!=null">
                and a.del_flag = #{post.delFlag}
            </if>
            <if test="post.sysFlag!=null">
                and a.sys_flag = #{post.sysFlag}
            </if>
            <if test="post.createTime!=null">
                and a.create_time = #{post.createTime}
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                and instr(a.create_user,#{post.createUser}) &gt; 0
            </if>
            <if test="post.updateTime!=null">
                and a.update_time = #{post.updateTime}
            </if>
            <if test="post.updateUser!=null and post.updateUser!=''">
                and instr(a.update_user,#{post.updateUser}) &gt; 0
            </if>
        </where>
    </sql>

    <select id="page" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="list" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="findByPk" resultMap="mapVoResultMap">
        <include refid="baseQueryBody"></include>
        where a.id = #{id}
    </select>

    <select id="countOfKey" resultType="java.lang.Integer">
        select count(*) cnt
        form sys_config
        where config_key=#{key}
        and status != 99
        <if test="excludesIds!=null and excludesIds.size>0">
            and id not in
            <foreach collection="excludesIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="insertSelective">
        insert into sys_config
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                id,
            </if>
            <if test="post.configKey!=null and post.configKey!=''">
                config_key,
            </if>
            <if test="post.name!=null and post.name!=''">
                name,
            </if>
            <if test="post.remark!=null and post.remark!=''">
                remark,
            </if>
            <if test="post.modFlag!=null">
                mod_flag,
            </if>
            <if test="post.delFlag!=null">
                del_flag,
            </if>
            <if test="post.sysFlag!=null">
                sys_flag,
            </if>
            <if test="post.createTime!=null">
                create_time,
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                create_user,
            </if>
            <if test="post.updateTime!=null">
                update_time,
            </if>
            <if test="post.updateUser!=null and post.updateUser!=''">
                update_user,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                #{post.id},
            </if>
            <if test="post.configKey!=null and post.configKey!=''">
                #{post.configKey},
            </if>
            <if test="post.name!=null and post.name!=''">
                #{post.name},
            </if>
            <if test="post.remark!=null and post.remark!=''">
                #{post.remark},
            </if>
            <if test="post.modFlag!=null">
                #{post.modFlag},
            </if>
            <if test="post.delFlag!=null">
                #{post.delFlag},
            </if>
            <if test="post.sysFlag!=null">
                #{post.sysFlag},
            </if>
            <if test="post.createTime!=null">
                #{post.createTime},
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                #{post.createUser},
            </if>
            <if test="post.updateTime!=null">
                #{post.updateTime},
            </if>
            <if test="post.updateUser!=null and post.updateUser!=''">
                #{post.updateUser},
            </if>
        </trim>
        )
    </insert>

    <update id="updateSelectiveByPk">
        update sys_config
        <set>
            <if test="post.id!=null">
                id = #{post.id},
            </if>
            <if test="post.configKey!=null and post.configKey!=''">
                config_key = #{post.configKey},
            </if>
            <if test="post.name!=null and post.name!=''">
                name = #{post.name},
            </if>
            <if test="post.remark!=null and post.remark!=''">
                remark = #{post.remark},
            </if>
            <if test="post.modFlag!=null">
                mod_flag = #{post.modFlag},
            </if>
            <if test="post.delFlag!=null">
                del_flag = #{post.delFlag},
            </if>
            <if test="post.sysFlag!=null">
                sys_flag = #{post.sysFlag},
            </if>
            <if test="post.createTime!=null">
                create_time = #{post.createTime},
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                create_user = #{post.createUser},
            </if>
            <if test="post.updateTime!=null">
                update_time = #{post.updateTime},
            </if>
            <if test="post.updateUser!=null and post.updateUser!=''">
                update_user = #{post.updateUser},
            </if>
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteByPk">
        delete from sys_config
        where id = #{id}
    </delete>

    <insert id="insert">
        insert into sys_config
        (
                    id
             ,config_key
             ,name
             ,remark
             ,mod_flag
             ,del_flag
             ,sys_flag
             ,create_time
             ,create_user
             ,update_time
             ,update_user
                            )
        values
        (
                    #{post.id}
             ,#{post.configKey}
             ,#{post.name}
             ,#{post.remark}
             ,#{post.modFlag}
             ,#{post.delFlag}
             ,#{post.sysFlag}
             ,#{post.createTime}
             ,#{post.createUser}
             ,#{post.updateTime}
             ,#{post.updateUser}
                            )
    </insert>

    <update id="updateByPk">
        update sys_config
        <set>
            id = #{post.id},
            config_key = #{post.configKey},
            name = #{post.name},
            remark = #{post.remark},
            mod_flag = #{post.modFlag},
            del_flag = #{post.delFlag},
            sys_flag = #{post.sysFlag},
            create_time = #{post.createTime},
            create_user = #{post.createUser},
            update_time = #{post.updateTime},
            update_user = #{post.updateUser},
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteSelective">
        delete from sys_config
        where
        <trim suffixOverrides="and|or" prefixOverrides="and|or">
            <if test="post.id!=null">
                and id = #{post.id}
            </if>
            <if test="post.configKey!=null and post.configKey!=''">
                and instr(config_key,#{post.configKey}) &gt; 0
            </if>
            <if test="post.name!=null and post.name!=''">
                and instr(name,#{post.name}) &gt; 0
            </if>
            <if test="post.remark!=null and post.remark!=''">
                and instr(remark,#{post.remark}) &gt; 0
            </if>
            <if test="post.modFlag!=null">
                and mod_flag = #{post.modFlag}
            </if>
            <if test="post.delFlag!=null">
                and del_flag = #{post.delFlag}
            </if>
            <if test="post.sysFlag!=null">
                and sys_flag = #{post.sysFlag}
            </if>
            <if test="post.createTime!=null">
                and create_time = #{post.createTime}
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                and instr(create_user,#{post.createUser}) &gt; 0
            </if>
            <if test="post.updateTime!=null">
                and update_time = #{post.updateTime}
            </if>
            <if test="post.updateUser!=null and post.updateUser!=''">
                and instr(update_user,#{post.updateUser}) &gt; 0
            </if>
        </trim>
    </delete>

    <select id="countOfNotDeleteableItems" resultType="java.lang.Integer">
        select count(*) cnt
        from sys_config_item a
        where a.config_id=#{id}
        and (
            a.del_flag=0
            or a.sys_flag=1
        )
    </select>


    <insert id="insertBatch">
        insert into sys_config
        (
        id
        ,config_key
        ,name
        ,remark
        ,mod_flag
        ,del_flag
        ,sys_flag
        ,create_time
        ,create_user
        ,update_time
        ,update_user
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}
            ,#{item.configKey}
            ,#{item.name}
            ,#{item.remark}
            ,#{item.modFlag}
            ,#{item.delFlag}
            ,#{item.sysFlag}
            ,#{item.createTime}
            ,#{item.createUser}
            ,#{item.updateTime}
            ,#{item.updateUser}
            )
        </foreach>

    </insert>
</mapper>