<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i2f.sys.mapper.SysUserRoleMapper">
    <!--
    * @author Ice2Faith
    * @date 2023-07-04 17:35:50
    * @desc sys_user_role 用户-角色表
    -->

    <resultMap id="mapDoResultMap" type="com.i2f.sys.data.dom.SysUserRoleDo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
    </resultMap>

    <resultMap id="mapVoResultMap" type="com.i2f.sys.data.vo.SysUserRoleVo"
               extends="mapDoResultMap">
    </resultMap>

    <sql id="columnsAsCamel">
          a.id
         ,a.user_id as userId
         ,a.role_id as roleId
         ,a.create_time as createTime
         ,a.create_user as createUser
    </sql>

    <sql id="columnDescAsCamel">
    </sql>

    <sql id="baseQueryBody">
        select
               a.id
              ,a.user_id
              ,a.role_id
              ,a.create_time
              ,a.create_user
        from sys_user_role a
    </sql>

    <sql id="baseQuery">
        <include refid="baseQueryBody"></include>
        <where>
            <if test="post.id!=null">
                and a.id = #{post.id}
            </if>
            <if test="post.userId!=null">
                and a.user_id = #{post.userId}
            </if>
            <if test="post.roleId!=null">
                and a.role_id = #{post.roleId}
            </if>
            <if test="post.createTime!=null">
                and a.create_time = #{post.createTime}
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                and instr(a.create_user,#{post.createUser}) &gt; 0
            </if>
        </where>
    </sql>

    <select id="page" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="list" resultMap="mapVoResultMap">
        <include refid="baseQuery"></include>
    </select>

    <select id="findByPk" resultMap="mapVoResultMap">
        <include refid="baseQueryBody"></include>
        where a.id = #{id}
    </select>

    <insert id="insertSelective">
        insert into sys_user_role
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                id,
            </if>
            <if test="post.userId!=null">
                user_id,
            </if>
            <if test="post.roleId!=null">
                role_id,
            </if>
            <if test="post.createTime!=null">
                create_time,
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                create_user,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides="," prefixOverrides=",">
            <if test="post.id!=null">
                #{post.id},
            </if>
            <if test="post.userId!=null">
                #{post.userId},
            </if>
            <if test="post.roleId!=null">
                #{post.roleId},
            </if>
            <if test="post.createTime!=null">
                #{post.createTime},
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                #{post.createUser},
            </if>
        </trim>
        )
    </insert>

    <update id="updateSelectiveByPk">
        update sys_user_role
        <set>
            <if test="post.id!=null">
                id = #{post.id},
            </if>
            <if test="post.userId!=null">
                user_id = #{post.userId},
            </if>
            <if test="post.roleId!=null">
                role_id = #{post.roleId},
            </if>
            <if test="post.createTime!=null">
                create_time = #{post.createTime},
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                create_user = #{post.createUser},
            </if>
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteByPk">
        delete from sys_user_role
        where id = #{id}
    </delete>

    <delete id="deleteUserRoles">
        delete from sys_user_role
        where user_id=#{userId}
    </delete>

    <insert id="insert">
        insert into sys_user_role
        (
                    id
             ,user_id
             ,role_id
             ,create_time
             ,create_user
                            )
        values
        (
                    #{post.id}
             ,#{post.userId}
             ,#{post.roleId}
             ,#{post.createTime}
             ,#{post.createUser}
                            )
    </insert>

    <update id="updateByPk">
        update sys_user_role
        <set>
            id = #{post.id},
            user_id = #{post.userId},
            role_id = #{post.roleId},
            create_time = #{post.createTime},
            create_user = #{post.createUser},
        </set>
        where id = #{post.id}
    </update>

    <delete id="deleteSelective">
        delete from sys_user_role
        where
        <trim suffixOverrides="and|or" prefixOverrides="and|or">
            <if test="post.id!=null">
                and id = #{post.id}
            </if>
            <if test="post.userId!=null">
                and user_id = #{post.userId}
            </if>
            <if test="post.roleId!=null">
                and role_id = #{post.roleId}
            </if>
            <if test="post.createTime!=null">
                and create_time = #{post.createTime}
            </if>
            <if test="post.createUser!=null and post.createUser!=''">
                and instr(create_user,#{post.createUser}) &gt; 0
            </if>
        </trim>
    </delete>

    <insert id="insertBatch">
        insert into sys_user_role
        (
        id
        ,user_id
        ,role_id
        ,create_time
        ,create_user
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}
            ,#{item.userId}
            ,#{item.roleId}
            ,#{item.createTime}
            ,#{item.createUser}
            )
        </foreach>

    </insert>
</mapper>